# Dependencies
node_modules/
bower_components/

# Build outputs
dist/
build/
.sass-cache/

# Secrets and Logs
.env
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.swp
